@import "bootstrap/scss/bootstrap";

html, body {
  height: 100%;
}

.fs-sm {
  font-size: 0.85rem;
}

#header-container {
  background-color: #F3F3F3;
}

a:not(.btn) {
  color: #333;
}

.breadcrumb-item,
.breadcrumb-item a {
  color: #666;
}
